<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.ReplyMapper">
	
	<update id="updateRCnt">
	  update tbl_reply set rcnt = rcnt + 1 where rno = #{rno}
	</update>
	
	
	<select id="list" resultType="ReplyVO">
		select *
		from tbl_reply
		where bno = #{bno}
		order by rno desc
	</select>

	<insert id="create">
		insert into tbl_reply (bno, replytext, replyer, parent, seq)
		values (#{bno},#{replytext},#{replyer}, #{parent}, #{rcnt}+1)
	</insert>

	<update id="update">
		update tbl_reply 
			set replytext = #{replytext},
				updatedate = now()
		  where rno = #{rno}
	</update>

	<delete id="delete">
		delete from tbl_reply 
		 where rno = #{rno}
	</delete>

	<delete id="deleteRere">
		delete from tbl_reply 
		 where parent = #{rno}
	</delete>

<!-- 	<select id="listPage" resultType="ReplyVO">
		select * 
		  from tbl_reply 
		 where bno = #{bno} 
		 order by rno desc 
		 limit #{cri.pageStart}, #{cri.perPageNum}
	</select> -->

	<select id="listPage" resultType="ReplyVO">
		SELECT *
		  FROM tbl_reply
		 where bno = #{bno}
		 ORDER BY IF(ISNULL(PARENT), RNO, PARENT), SEQ 
		 limit #{cri.pageStart}, #{cri.perPageNum}
	</select>

	<select id="count" resultType="int">
		select count(bno) 
		  from tbl_reply 
		 where bno = #{bno}
	</select>
	
	<select id="getBno" resultType="int">
		select bno from tbl_reply where rno = #{rno}
	</select>

</mapper>
















